<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  processIsolation="false"
  stopOnFailure="false"
  cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="CPF Validator">
      <directory>packages/cpf-val/tests</directory>
    </testsuite>
    <testsuite name="CNPJ Validator">
      <directory>packages/cnpj-val/tests</directory>
    </testsuite>
    <testsuite name="CPF Generator">
      <directory>packages/cpf-gen/tests</directory>
    </testsuite>
    <testsuite name="CNPJ Generator">
      <directory>packages/cnpj-gen/tests</directory>
    </testsuite>
    <testsuite name="CPF Formatter">
      <directory>packages/cpf-fmt/tests</directory>
    </testsuite>
    <testsuite name="CNPJ Formatter">
      <directory>packages/cnpj-fmt/tests</directory>
    </testsuite>
    <testsuite name="CPF Utils">
      <directory>packages/cpf-utils/tests</directory>
    </testsuite>
    <testsuite name="CNPJ Utils">
      <directory>packages/cnpj-utils/tests</directory>
    </testsuite>
    <testsuite name="BR Utils">
      <directory>packages/br-utils/tests</directory>
    </testsuite>
    <testsuite name="All Tests">
      <directory>packages/*/tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
      <directory suffix=".php">packages/*/src</directory>
    </include>
    <exclude>
      <directory>vendor</directory>
      <directory>tests</directory>
      <directory>packages/*/tests</directory>
    </exclude>
  </coverage>
  <php>
    <env name="APP_ENV" value="testing"/>
  </php>
</phpunit>
